@tailwind base;
@tailwind components;
@tailwind utilities;

/* common css for all */


.bg-gradient
{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(150,45,253,0.9470122521664917) 100%);
}


/* Css for scroll bar */
/* Track */
/* ::-webkit-scrollbar { */
  /* width: px; Width of the scrollbar */
/* } */

/* Thumb */
/* ::-webkit-scrollbar-thumb { */
  /* background-color: #6761d8; */
  /* border:px solid black ; */
  /* border-radius: 10px;Color of the thumb */
/* } */

/* Track on hover */


/* Thumb on hover */
/* ::-webkit-scrollbar-thumb:hover { */
  /* background-color: #908ae9; Color of the thumb on hover */
/* } */



/* extra small text */
.text-xxs
{
    font-size: 9px;
   
}



  