@tailwind base;
@tailwind components;
@tailwind utilities;

/* common css for all */

body
{
    overflow: hidden;
}

.bg-gradient
{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(150,45,253,0.9470122521664917) 100%);
}

::-webkit-scrollbar {
    width: 02px; /* Change the width value as desired */
  }

  .text-xxsm
  {
    font-size: 9px;
   
  }
  